.small-paragraph {
  color: rgb(114, 114, 114);

  font-size: 1.6rem;

  line-height: 26px;
  text-align: center;
}
.secondary-header {
  font-size: 4.5rem;
  font-weight: 600;
}
.primary-button {
  border-radius: 8px;

  background: rgb(255, 144, 14);
  padding: 2rem 2.2rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 2rem;
}
.normal-header {
  color: rgb(19, 19, 19);

  font-size: 2rem;
  font-weight: 600;
  line-height: 23px;
}
.flex-display {
  display: flex;
}
