@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button,
input {
  border: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* shared styling */

.small-paragraph {
  color: rgb(114, 114, 114);

  font-size: 1.6rem;

  line-height: 26px;
  text-align: center;
}
.secondary-header {
  font-size: 4.5rem;
  font-weight: 600;
}
.primary-button {
  border-radius: 8px;

  background: rgb(255, 144, 14);
  padding: 2rem 2.2rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 2rem;
}
.normal-header {
  color: rgb(19, 19, 19);

  font-size: 2rem;
  font-weight: 600;
  line-height: 23px;
}
.flex-display {
  display: flex;
}
.primary-paragraph {
  margin: 24px 0 32px 0;
}

.dark-3 {
  color: rgb(114, 114, 114);
  font-size: 2rem;
}
/* shared styling ends here */

/* header styling */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 5rem 0 4rem 0;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
.nav-list {
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
.nav-item > a {
  color: rgb(66, 66, 66);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 26px;
}

.banner-section {
  max-width: 1440px;
  margin: 10rem auto 0 auto;
}
.hero-header {
  color: rgb(19, 19, 19);

  font-size: 6rem;
  line-height: 1.5em;
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
}
.banner-paragraph {
  max-width: 860px;
  margin: 0 auto 3rem auto;
}
.banner-img {
  margin-top: 5rem;
}
.banner-btn {
  margin: 0 auto;
  display: block;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}
.team-section {
  display: flex;
  gap: 7rem;
  align-items: center;
  justify-content: center;
  margin: 85px 0 130px 0;

}

.image-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
}
.content-section {
  flex: 0 1 510px;
}
.content-header {
  font-weight: 400;
}
.content-section > p {
  text-align: left;
}

/* feature section starts heree */
.feature-section {
 
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin-bottom: 85px;
}
.card-container {
  margin-top: 30px;
}
.feature-content {
  flex: 0 1 585px;
}
.card-box > p {
  margin-top: 15px;
  text-align: justify;
}
.card-box {
  padding: 3rem 4rem 3rem 3rem;
  border-radius: 8px;

  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.feature-img {
  position: relative;
  
}
.discount-box {
  position: absolute;
  background-color: rgb(255, 144, 14);
  border-radius: 8px;
  padding: 45px 40px;

  left: -100px;
  bottom: -50px;
}
.discount-box > h1 {
  font-size: 6.5rem;
  color: white;
}

.positoned-element {
  position: relative;
}
.vertical-scale {
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: rgb(255, 144, 14);
  top: 0;
  left: -20px;
}
/* feature section ends heree */

/* fact section starts here */
.fact-container{
  display: grid;
  grid-template-columns: repeat(4, 340px);
  gap: 10rem;
  justify-content: center;
  align-items: center;
}
.fact-header {
  max-width: 550px;
}
.fact-card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 55px;

border: 1px solid rgb(255, 144, 14);
border-radius: 8px;

}
.fact-card > h3 {
  margin: 8px 0;
  text-align: center;
}


/* sponsored section */

.sponsor-section{
  margin-top: 150px;
  text-align: center;

}
.sponsor-section > p {
  max-width: 540px;
  margin: 0 auto;
}
.sponsored-brands{
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 10rem;
 justify-content: space-between;
 margin-top: 60px;

  
}




/* media queries for header */
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }
  .secondary-header {
    font-size: 3rem;
  }

  .hero-header {
    font-size: 4.2rem;
  }
  .small-paragraph {
    font-size: 1.4rem;

    line-height: 1.5em;
  }
  .primary-button {
    padding: 1.4rem 1.6rem;

    font-weight: 600;
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 2rem;
  }
  .nav-list {
    gap: 1rem;
  }
  .hero-header {
    font-size: 4.8rem;
  }
}

/* media queries for team section */

@media screen and (max-width: 992px) {
  .content-section > h3 {
    font-size: 4rem;
  }
  .image-section {
    gap: 1.8rem;
  }
  .team-section {
    gap: 5rem;

    margin: 50px 0 90px 0;
  }
}
@media screen and (max-width: 768px) {
  .content-section > h3 {
    font-size: 3.3rem;
    text-align: center;
  }
  .image-section {
    gap: 1.5rem;
  }

  .primary-paragraph {
    margin: 15px 0 22px 0;
  }
  .small-paragraph {
    font-size: 1.6rem;
    line-height: 1.3em;
  }
  .team-section {
    flex-direction: column;

    margin: 40px 0 75px 0;
  }
  .content-section {
    border: 2px solid yellowgreen;
  }
  .primary-button {
    display: block;
    margin: 0 auto;
  }
}


/* media queries for feature section */

@media screen and (max-width: 1024px) {
  .feature-section {
   flex-direction: column;
    gap: 3rem;
  
  }
  .vertical-scale {
    display: none;
  }
  .positoned-element {
    position: static;
    text-align: center;
  }
  .discount-box {
    position: static;
    display: none;
  }
}

/* media queries for fact section */

@media screen and (max-width: 1200px){
  .fact-container {
    grid-template-columns: repeat(2, 1fr);
  }
 
}
@media screen and (max-width: 768px){
  .fact-container {
    gap: 5rem;
  }
.fact-card > h3 {
  font-size: 3.2rem;

}
 
}
@media screen and (max-width: 576px){
  .fact-section{
    padding: 30px;
  }
  .fact-container {
   grid-template-columns: 1fr;
    gap: 3rem;
   
  }

 
}

@media screen and (max-width: 992px) {
  .sponsored-brands {
    gap: 6rem;
    padding: 20px;
  }
  
}